
   /* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
.button {
    margin: 5px;
}  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  header h1 {
    margin: 0;
    font-size: 48px;
  } 
  #login-info {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa;
  }
  
  #login-info dl {
    margin: 0;
    padding: 0;
  }
  
  #login-info dt {
    font-weight: bold;
    margin-top: 10px;
  }
  
  #login-info dd {
    margin: 0 0 10px 20px;
  }
  
  #login-info form {
    margin-top: 20px;
  }
  
  #login-info form input[type="text"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  #login-info form input[type="submit"] {
    height: 30px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #login-info h1 {
    margin-top: 20px;
  }
  
  #login-info a {
    color: #333;
    text-decoration: none;
  }
  
  #login-info a:hover {
    text-decoration: underline;
  }
  
  /* Directory List */
  #directory-list {
    margin-top: 20px;
  }
  
  #directory-list li {
    margin: 10px 0;
  }
  
  #directory-list a {
    color: #333;
    text-decoration: none;
  }
  
  #directory-list a:hover {
    text-decoration: underline;
  }
  
  /* Shared Files */
  #shared-files {
    margin-top: 20px;
  }
  
  #shared-files ul {
    margin: 0;
    padding: 0;
  }
  
  #shared-files li {
    margin: 10px 0;
    list-style: none;
  }
  
  #shared-files a {
    color: #333;
    text-decoration: none;
  }
  
#shared-files a:hover {
    text-decoration: underline;
}
.error-message{
    color: red;
}