<!doctype html>
<html>
<head>
  <title>{{ directory.name }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1 class="title">{{ directory.name }}</h1>
    <p><a href="/" class="back-link">Back to home page</a></p>
    <p class="info">Accepted file formats: .docx, .odt, .xlsx, and .ods</p>
    <form action="/upload_file/{{ directory.key.id_or_name }}" method="post" enctype="multipart/form-data" class="upload-form">
      <div class="form-group">
        <label for="file_name">Upload File:</label>
        <input type="file" name="file_name" class="form-control-file" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h2 class="subtitle">List of files:</h2>
    <ul class="list-group files-list">
      {% for file in files %}
        <li class="list-group-item file-item d-flex justify-content-between align-items-center">
          <a href="/versions/{{ file.key.id_or_name }}" class="file-link">{{ file.name }}</a>
          <div class="btn-group">
            <form action="/shareFile/{{file.key.id_or_name}}/{{directory.key.id_or_name}}" method="post" class="share-form">
              <div class="input-group">
                <input type="text" name="shared_email" placeholder="Enter email to share with" class="form-control share-input" />
                <div class="input-group-append">
                  <button type="submit" class="button btn-primary share-btn btn">Share</button>
                </div>
              </div>
            </form>
            <form action="/download_file/{{ file.key.id_or_name }}" method="post" style="display: inline-block;" class="download-form">
              <button type="submit" class="button btn-primary download-btn btn" >Download</button>
            </form>
            <form action="/deleteFromDirectory/{{file.key.id_or_name}}/{{directory.key.id_or_name}}" method="post" onsubmit="return confirm('Are you sure you want to delete this file and all its versions?');" class="delete-form">
              <button type="submit" class="button btn-danger delete-btn btn">Delete</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if isDirectoryEmpty %}
      <p class="empty-message">This directory is empty.</p>
      <form action="/deleteDirectory/{{ directory.key.id_or_name }}" method="post" class="delete-dir-form">
        <button type="submit" class="btn btn-danger delete-dir-btn">Delete Directory</button>
      </form>
    {% endif %}
    {% if error_message %}
      <p class="error-message">Error message: {{ error_message }}</p>
    {% endif %}
  </div>
  </body>
  </html>