<!doctype html>
<html>
<head>
 <title>Version control system</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
        <h2>Login Info</h2>
        {% if user_data %}
        <dl>
        <dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
        <dt>Free storage: </dt><dd>{{ user_storage }}</dd>
        </dl>
        <form action="/add_directory" method="post">
        <p>Make sure you include '/' at the end</p>
        Directory Name: <input type="text" name="dir_name"/><input type="submit"/>
        </form>
        {% if directory_error_message %}
        <p>{{ directory_error_message }}</p>
        {% endif %}
        <h1>list of directories</h1><br/>
        {% for i in directory_list %}
        <a href="/directory/{{ i.key.id_or_name }}">{{ i.name }}</a><br/>

        {% endfor %}

        <h1>List of Shared Files</h1><br/>
        {% if shared_files %}
        <ul>
        {% for file in shared_files %}
        <li><a href="/versions/{{ file.key.id_or_name }}">{{ file.name }}</a>shared by {{ file.uploadedBy }}</li><br/>
        </ul>    
        {% endfor %}
        {% else %}
        <p>No shared files found.</p>
        {% endif %}
        
        {% elif error_message %}
        <p class="error-message">Error Message: {{ error_message }}</p>
        {% endif %}
             
    </div>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>
</html> 