<!doctype html>
<html>
<head>
 <title>{{ file.name }} - Versions</title>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <div class="container">
   <h1 class="title">{{ file.name }} - Versions</h1>
   {% if isUserOwner %}
   <p class="back-link"><a href="/directory/{{ file.directoryKey }}">Back to directory</a></p>
   {% else %}
   <p class="back-link"><a href="/">Back to home page</a></p>
   {% endif %}
   <form action="/upload_version/{{ file.key.id_or_name }} " method="post" enctype="multipart/form-data" class="upload-version">
     <div class="form-group">
       <label for="file_name" class="upload-label">Upload New Version:</label>
       <div class="custom-file">
         <input type="file" class="custom-file-input" id="file_name" name="file_name">
         <label class="custom-file-label" for="file_name">Choose file</label>
       </div>
     </div>
     <button type="submit" class="btn btn-primary">Upload</button>
   </form>
   <table class="table">
     <thead class="thead-dark">
       <tr>
         <th scope="col">File Name</th>
         <th scope="col">Time Uploaded</th>
         <th scope="col">Uploaded By</th>
         <th scope="col">Version</th>
         <th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
       {% for version in versions %}
       <tr class="version-row">
         <td class="version-file">{{ version.name }}</td>
         <td class="version-time">{{ version.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
         <td class="version-uploader">{{ version.uploadedBy }}</td>
         <td class="version-number">{{ version.version }}</td>
         <td class="version-actions">
           {% if isUserOwner %}
           <form action="/deleteFromDirectory/{{version.key.id_or_name}}/{{ file.directoryKey }}" method="post" onsubmit="return confirm('Are you sure you want to delete this file version?');">
             <button type="submit" class="btn btn-danger version-btn-delete">Delete</button>
           </form>
           {% endif %}
           <form action="/download_file/{{ version.key.id_or_name }}" method="post">
             <button type="submit" class="btn btn-primary version-btn-download">Download</button>
           </form>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
   {% if error_message %}
   <p class="error-message">Error message: {{ error_message }}</p>
   {% endif %}
 </div>
 </body>
 </html>
 

